<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <%= image_tag @profile.picture.thumbnail, size: "100x100", id: "profile-photo" %>
        <h4><%= @profile.full_name %></h4>
    </div>
    <div class="col-md-8">
        <div class="alert alert-warning">
            <h2>Profile</h2>
        </div>
        <div class="panel-body">
          <%= render 'form' %>
        </div>
    </div>
</div>
